.calculator{
  border: 2px solid black;
  width: 300px;
  border-radius: 5px;
}

.input{
  margin: 10px;
  width: 270px;
  font-size: 30px;
  border-radius: 5px;
  border: 1px solid gray;
}


.buttons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.button{
  width: 60px;
  height: 60px;
  margin: 10px;
  font-size: 25px;
  border-radius: 5px;
  border: 2px solid rgb(123, 153, 150);
}